<app-header></app-header>


<div class="row">
  <div class="col-3"></div>
  <div class="col-6 mt-3">
  

      <div class="row bg-light">
        <div class="col-sm-8">
          <div class="dropdown" (click)="toggleDropdown()">
            <button class="btn dropdown-toggle" type="button">{{ selectedCity ? selectedCity : 'Select Your Travel Distination' }}</button>
            <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
              <a class="dropdown-item" *ngFor="let city of citynameslist" (click)="onSelectCity(city)"> {{ city }}</a>
            </div>
          </div>
        </div>
      </div>
      

      <div class="card mt-2" style="width: 100%;" *ngIf="city_info">
        <img class="card-img-top" [src]="city_image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">About {{city_info.city}}:</h5>
          <p class="card-text">{{ city_info.description }}</p>
        </div>
      </div>


      <app-weather [city]="currentCity"></app-weather>


  </div>
  <div class="col-3"></div>
</div>