<div class="card mt-2" style="width: 100%;" *ngIf="show">
    <div class="card-body">
      <h5 class="card-title">Current Weather:</h5>
      <div class="container">
        <div class="row justify-content-between">

            <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">
                    <span class="w-day">{{ day }} </span><span class="w-date">{{ date }}</span></h6>
                    <table class="table table-sm table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Temp</th>
                            <th scope="col">Min</th>
                            <th scope="col">Max</th>
                            <th scope="col">Sky</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ temp + 'c' }}</td>
                            <td>{{ temp_min + 'c' }}</td>
                            <td>{{ temp_max + 'c'}}</td>
                            <td><img [src]="'../../../assets/photos/' + sky + '.png'" width="25spx"/></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>            
          </div>
      </div>
    </div>
  </div>